


h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1000px;




}



.container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.imagens {
    display: flex;
    justify-content: center;

}


.container div{
    width: 200px;
    height: 200px;
}